# Disable the bar and windows borders
bar {
    mode invisible
}
default_border none

# Add special keys music player keyboard control
{% if musicplayer_volume_ctrl_method == "playerctl" -%}
bindsym XF86AudioRaiseVolume exec playerctl volume {{ "%.2f" | format((musicplayer_volume_ctrl_percent | int) / 100) }}+
bindsym XF86AudioLowerVolume exec playerctl volume {{ "%.2f" | format((musicplayer_volume_ctrl_percent | int) / 100) }}-
{% else %}
bindsym XF86AudioRaiseVolume exec amixer -qM set {{ musicplayer_alsa_mixer }} {{ musicplayer_volume_ctrl_percent }}%+
bindsym XF86AudioLowerVolume exec amixer -qM set {{ musicplayer_alsa_mixer }} {{ musicplayer_volume_ctrl_percent }}%-
{% endif %}
{% if musicplayer_mute_ctrl_play_pause | bool -%}
bindsym XF86AudioMute exec playerctl play-pause
{% else %}
bindsym XF86AudioMute exec amixer -q set {{ musicplayer_alsa_mixer }} toggle
{% endif %}
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous

{% if musicplayer_serial_display | bool -%}
# Start music player display
exec /usr/local/bin/musicplayer_serial_display &
{% endif %}
# Start music player on Sway start and exit Sway on music player exit
exec {{ musicplayer_command }} && /usr/bin/swaymsg exit
