#!/usr/bin/env bash

{% if musicplayer_serial_display | bool -%}
# Run the serial display utility
/usr/local/bin/musicplayer_serial_display &

{% endif %}
# Run the music player
{{ musicplayer_command }}

# Exit Sway and system on music player exit
swaymsg exit
systemctl poweroff
