# Byte-compiled Python
__pycache__/
*.pyc
*.so
*.pyd

# IDE
.project
.pydevproject
.settings/
.spyderproject
.spyproject
.vscode/
.idea/

# Vagrant
.vagrant/

# Ansible Playbook
/*playbook.yml

# Local test
/Vagrantfile
/*.sh
pyproject.toml
poetry.lock

# Ansible Galaxy packaged collection
*.tar.gz
FILES.json
MANIFEST.json

# Ansible-lint
.cache/
