[Service]
Environment=PGDATA={{ _data_subdir }}
ReadWritePaths={{ postgresql_data }}
RuntimeDirectory=postgresql
RuntimeDirectoryMode=0755
StateDirectory=pgsql
StateDirectoryMode=0700

# Restart on failure
Restart=on-failure
RestartSec=1

# Hardening
CapabilityBoundingSet=
PrivateIPC=true
PrivateNetwork=true
PrivateTmp=true
ProcSubset=pid
ProtectControlGroups=true
ProtectHome=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
UMask=0077
