---
mail_domain: local
mail_inet_protocols: ipv4
mail_protocol_smtp: false
mail_protocol_smtps: true
mail_protocol_imap: false
mail_protocol_imaps: true
mail_protocol_pop3: false
mail_protocol_pop3s: false
mail_protocol_submission: true

# Firewalld zone where allow mail services
mail_firewalld_senders_zone: "{{ mail_firewalld_senders_source is defined |
                              ternary('mail_senders', 'public') }}"
mail_firewalld_readers_zone: "{{ mail_firewalld_readers_source is defined |
                              ternary('mail_readers', 'public') }}"

# Internal values
_protocol_imap: "{{ (mail_protocol_imaps | bool) or
                    (mail_protocol_imap | bool) }}"
_protocol_pop3: "{{ (mail_protocol_pop3s | bool) or
                    (mail_protocol_pop3 | bool) }}"
_dovecot_protocols: "{{ _protocol_imap | ternary(' imap',
                     '') }}{{ _protocol_pop3 | ternary(' pop3', '') }}"
_dovecot_unsecure: "{{ (mail_protocol_imap | bool) or
                       (mail_protocol_pop3 | bool) }}"
_tls_crt: "/etc/pki/tls/certs/mail_{{ ansible_fqdn | lower }}.crt"
_tls_key: "/etc/pki/tls/private/mail_{{ ansible_fqdn | lower }}.key"
_tls_dh_params: "/etc/pki/tls/dhparam.pem"
