[Unit]
Description=Squid DNF repositories mirrors updater timer

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1d
RandomizedDelaySec=5m
AccuracySec=1s

[Install]
WantedBy=timers.target
