http_port {{ squid_http_port }} ssl-bump \
  tls-cert={{ _tls_ca }} \
  options=NO_SSLv3,NO_TLSv1,NO_TLSv1_1,NO_TLSv1_2,NO_TICKET

sslcrtd_program /usr/lib64/squid/security_file_certgen -s {{ _tls_db }} -M 4MB
acl step1 at_step SslBump1
ssl_bump peek step1
ssl_bump bump all

# Security & Privacy
httpd_suppress_version_string on
via off
forwarded_for off
follow_x_forwarded_for deny all
request_header_access X-Forwarded-For deny all
request_header_access Via deny all

# Access configuration
{% if squid_http_deny_localnet_dst -%}
acl to_localnet dst 0.0.0.1-0.255.255.255  # RFC 1122 "this" network (LAN)
acl to_localnet dst 10.0.0.0/8             # RFC 1918 local private network (LAN)
acl to_localnet dst 100.64.0.0/10          # RFC 6598 shared address space (CGN)
acl to_localnet dst 169.254.0.0/16         # RFC 3927 link-local (directly plugged) machines
acl to_localnet dst 172.16.0.0/12          # RFC 1918 local private network (LAN)
acl to_localnet dst 192.168.0.0/16         # RFC 1918 local private network (LAN)
acl to_localnet dst fc00::/7               # RFC 4193 local private network range
acl to_localnet dst fe80::/10              # RFC 4291 link-local (directly plugged) machines
{% endif %}
{% if not squid_http_access_all -%}
acl localnet src 0.0.0.1-0.255.255.255  # RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8             # RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10          # RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16         # RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12          # RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16         # RFC 1918 local private network (LAN)
acl localnet src fc00::/7               # RFC 4193 local private network range
acl localnet src fe80::/10              # RFC 4291 link-local (directly plugged) machines
{% if squid_firewalld_source is defined %}{% for cidr in squid_firewalld_source %}
acl localnet src {{ cidr }}
{% endfor %}{% endif %}
{%- endif %}

acl SSL_ports port 443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl CONNECT method CONNECT

http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports

http_access allow localhost manager
http_access deny manager

http_access deny to_localhost
http_access deny to_linklocal
{% if squid_http_deny_localnet_dst -%}http_access deny to_localnet{%- endif %}

{% if squid_http_access_all -%}
http_access allow all
{% else %}
http_access allow localnet
http_access allow localhost
{%- endif %}

http_access deny all

# Cache configuration
maximum_object_size {{ squid_maximum_object_size }} MB
cache_dir aufs {{ squid_cache_dir }} {{ squid_cache_dir_size }} 16 256
cache_replacement_policy heap LFUDA
memory_replacement_policy heap GDSF
coredump_dir {{ squid_cache_dir }}

# DNF repositories mirrors StoreIDs
store_id_program /usr/lib64/squid/storeid_file_rewrite /etc/squid/dnf_mirrors

# Avoid redirection loops
acl SafeStatus http_status 200-299
store_miss deny !SafeStatus
send_hit deny !SafeStatus

# Allow caching of "repodata/*.xml.zck"
range_offset_limit 128 MB
quick_abort_min -1

# Try to serve stale if site offline/internet down
connect_timeout 10 seconds
max_stale 4 weeks

{% if _squid_rpm_redirect_domains -%}
# Redirector for RPM packages
acl url_rewrite_domains dstdomain {{ _squid_rpm_redirect_domains | join(' ') }}
url_rewrite_program /usr/local/bin/squid_dnf_redirector
url_rewrite_children 16 startup=1 idle=1 concurrency=32
url_rewrite_access allow url_rewrite_domains
url_rewrite_access deny all
{% endif %}

# Refresh patterns : RPM packages
refresh_pattern -i \.(rpm|drpm|srpm|commitmeta|dirtree|filez)$ 43200 80% 129600 override-expire override-lastmod ignore-reload ignore-no-store store-stale
refresh_pattern /repodata/repomd\.xml(.asc)?$ 0 0% 0 store-stale
refresh_pattern /metalink\? 0 0% 0 store-stale
refresh_pattern /repodata/[^/]+$ 1440 80% 43200 override-expire override-lastmod ignore-reload ignore-no-store store-stale

{% if squid_refresh_patterns is defined -%}
# Refresh patterns : User defined
{{ squid_refresh_patterns | default([]) | join('\n') }}
{%- endif %}

# Refresh patterns : Defaults
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320

# Logs configuration
access_log none manager
access_log none CONNECT
access_log syslog:user.info
cache_log /dev/stdout
{% if common_netdata_enable is defined -%}
access_log daemon:/var/run/squid/{{ _netdata_public_id.content | b64decode }}_access.log squid
logfile_rotate 1
{%- endif %}
