Banner /etc/issue
ChallengeResponseAuthentication no
ClientAliveInterval 300
DisableForwarding yes
GSSAPIAuthentication no
HostbasedAuthentication no
LogLevel VERBOSE
PasswordAuthentication {{ common_ssh_authorized_key is defined | ternary("no", "yes") }}
PermitEmptyPasswords no
PermitRootLogin no
PrintMotd no
PrintLastLog no
TCPKeepAlive no
KerberosAuthentication no
RekeyLimit 512M 1h
