[Unit]
Description=Nextcloud automatic update timer
Wants=network-online.target

[Timer]
OnBootSec=1h
OnUnitInactiveSec=1d
RandomizedDelaySec=5m
AccuracySec=1s

[Install]
WantedBy=multi-user.target
