[Unit]
Description=Nextcloud automatic update
After=network-online.target

[Service]
User=nextcloud
Type=oneshot
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7
ExecStart=-/usr/bin/php /var/www/nextcloud/updater/updater.phar --no-interaction
ExecStart=-/usr/bin/php /var/www/nextcloud/occ -n app:update --all
