---
mpd_alsa_mixer: Master
mpd_audio_output: |
    type		     "alsa"
    name		     "ALSA Device"
mpd_auto_update: true
mpd_default_permissions: read,add,control,admin
mpd_music_directory: /var/lib/mpd/music
mpd_replaygain: auto
mpd_update: true
mpd_use_cifs: false
mpd_use_nfs: false
mpd_zeroconf: false

# Define firewalld zone value to use depending on specified source
mpd_firewalld_zone: "{{ mpd_firewalld_source is defined |
                     ternary('mpd', 'internal') }}"
