[Unit]
Description=Kodi
After=remote-fs.target systemd-user-sessions.service network-online.target nss-lookup.target sound.target polkit.service lircd.service
Wants=network-online.target polkit.service
Conflicts=getty@tty1.service

[Service]
User=kodi
Group=kodi
SupplementaryGroups=audio dialout disk input render tty video
PAMName=login
TTYPath=/dev/tty1
{% if kodi_wayland | bool %}
ExecStartPre=+-/usr/bin/sh -c 'echo "on 0" | cec-client -s'
ExecStart=/usr/bin/sway
{% else %}
ExecStart=/usr/bin/kodi-standalone
{% endif %}

ExecStop=/usr/bin/killall --user kodi --exact --wait kodi.bin
Restart=on-abort
StandardInput=tty
StandardOutput=journal

# Hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true

[Install]
WantedBy=graphical.target
