<?php
$CONFIG = array (
  'logfile'              => '/var/log/nextcloud/nextcloud.log',
  'memcache.local'       => '\OC\Memcache\APCu',
  'memcache.distributed' => '\OC\Memcache\Redis',
  'memcache.locking'     => '\OC\Memcache\Redis',
  'redis'                => array(
    'host'               => '/var/run/redis/redis.sock',
    'port'               => 0
  ),
);
