[Service]
{% if php_fpm_bind_paths is defined -%}BindPaths={{ php_fpm_bind_paths }}{%- endif %}

{% if php_fpm_bind_read_only_paths is defined -%}BindReadOnlyPaths={{ php_fpm_bind_read_only_paths }}{%- endif %}

{% if php_fpm_read_write_paths is defined -%}ReadWritePaths={{ php_fpm_read_write_paths }}{%- endif %}

{% if php_fpm_inaccessible_paths is defined -%}InaccessiblePaths={{ php_fpm_inaccessible_paths }}{%- endif %}

{% if php_fpm_temporary_file_system is defined -%}TemporaryFileSystem={{ php_fpm_temporary_file_system }}{%- endif %}

# Restart on failure
Restart=on-failure
RestartSec=1

# Hardening
CapabilityBoundingSet=CAP_CHOWN CAP_SETUID CAP_SETGID
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service
SystemCallFilter=~@resources
UMask=0027
